.list-group{
    max-height: 262px;
    overflow: auto;
}

.cant{
    width: 16%;
    transform: translate(0%, 27%);
}

.lblSubTotal{
    font-weight: bold;
}

.imagenCarrito{
    max-width: 30px;
    max-height: 30px;
}

.btn-carrito{
    border: unset;
    background: darkgrey;
}

.imgPerfil{
    max-width: 59px;
    max-height: 40px;
}