<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Registro</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form [formGroup]="formularioRegistro">
        <div class="mb-3">
          <div class="size">
            <div (keypress)="nameValidate()" class="size-inputs">
              <label for="name" class="form-label">Nombre</label>
              <input formControlName="name" class="form-control">
              <label *ngIf="nameError" class="lblError" >*El Nombre no debe superar los 50 caracteres</label>
            </div>
            <div (keypress)="lastNameValidate()" class="disposicion size-inputs">
              <label for="lastName" class="form-label">Apellido</label>
              <input formControlName="lastName" class="form-control">
              <label *ngIf="lastNameError" class="lblError">*El Apellido no debe superar los 50 caracteres</label>
            </div>
          </div>
        </div>
        <div (keypress)="dniValidate()" class="mb-3">
          <label for="dni" class="form-label">DNI</label>
          <input formControlName="dni" class="form-control">
          <label *ngIf="dniError" class="lblError">*El DNI no debe contener letras y no debe superar los 8 números</label>
        </div>
        <div (keypress)="phoneValidate()" class="mb-3">
          <label for="phone" class="form-label">Teléfono</label>
          <input formControlName="phone" class="form-control" aria-describedby="emailHelp">
          <label *ngIf="phoneError" class="lblError">*El Teléfono no debe contener letras y no debe superar los 10 números</label>
        </div>
        <div (focusout)="emailValidate()" class="mb-3">
          <label for="email" class="form-label">Dirección de Correo</label>
          <input formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <label *ngIf="emailError" class="lblError">*El email debe ser válido</label>
        </div>
        <div (focusout)="passwordValidate()" class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
          <label *ngIf="passwordError" class="lblError">*La contraseña debe ser mayor a 6 caracteres</label>
        </div>
        <div (focusout)="repeatPasswordValidate()" class="mb-3">
          <label for="repeatPassword" class="form-label">Repetir Contraseña</label>
          <input formControlName="repeatPassword" type="password" class="form-control" id="exampleInputPassword1">
          <label *ngIf="repeatPassworError" class="lblError">*Las contraseñas no coinciden</label>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="registrar()" [disabled]="formularioRegistro.invalid">Registrarse</button>
      </div>