.formContainer{
    width: 50%;
}

.Contenedorfoto{
width: 25%
}

.foto{
    max-width: 297px;
    max-height: 167px;
    transform:translate(50%, 20%);
}

.contenedor{
    display: flex;
    flex-direction: row;
}