<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="navbar">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        <button mat-button>
          {{node.name}}
        </button>
        
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </mat-tree-node>
    </mat-tree>
  </mat-drawer>
  <mat-drawer-content>
    <mat-card>
      <mat-card-content>
        <div class="dropdown">
          <span>Ordenar Por: </span>
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Filtrado
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="ordenarPorTodos()">Todos</a></li>
            <li><a class="dropdown-item" (click)="ordenarPorMayorPrecio()">Mayor Precio</a></li>
            <li><a class="dropdown-item" (click)="ordenarPorMenorPrecio()">Menor Precio</a></li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
    
    <div class="contenedorCartas">
    <div *ngFor="let producto of listaProductos; let i = index " >
      <div  class="card">
        <img (click)="redirectToProducto(producto.idProducto)" src="../../../assets/images/Procesador_Intel_Celeron_G4900.jpg" class="card-img-top selected" alt="Imagen del Producto">
        <div class="card-body">
          <h5 (click)="redirectToProducto(producto.idProducto)"  class="card-title selected">{{producto?.nombreProducto}}</h5>
          <p class="card-text" *ngIf="listaPrecioProductos[i]?.idProducto === producto?.idProducto">{{listaPrecioProductos[i].precio}}</p>
          <p class="card-text" *ngIf="listaPrecioProductos[i]?.idProducto !== producto?.idProducto">No existe precio para el producto</p>
          <div style="display: flex; flex-direction: row;">
            <button (click)="redirecToCarrito(producto.idProducto)" class="btn btn-primary">Agregar al Carrito</button>
            <button *ngIf="esAdmin()" style="padding-left: 3rem;" (click)="redirecToEditarProducto(producto.idProducto)" class="btn btn-link">Editar</button>
          </div>

        </div>
      </div>
    </div>
  </div>


  </mat-drawer-content>
</mat-drawer-container>