.containerA{
    margin-top: 50px;
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: ridge;
    border-radius: 20px
}

.containerB{
    height: 100px;
    width: 100%;
    background-color: #555;
    font-size: large;
    text-align: center;
}

.div-buy{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px ;
    margin-right: 28px ;
    transform: translate(0,0,0,0);
}

.btn-buy{
    height: 8rem;
    width: 16rem;

    font-size:x-large;
}

.cant{
    width: 16%;
    transform: translate(5%, 15%);
}

.lblSubTotal{
    font-weight: bold;
}


.btnCambioUnidad{
    transform: translate(65px, -5px);
}
.btnBorrar{
    transform: translate(106px,-18px);
    
}