<div class="containerB">
    <h1 style="color: aliceblue;">Tus Pedidos!</h1>
</div>

<div class="containerA">
    <div style="width: 95%; margin-left: 2.5%;">
      <div *ngFor=" let pc of productosCliente;">
        <div class="card mb-3 mt-3" style="max-height: 170px;">
          <div class="row g-0">
            <div class="col-md-4" style="width: 17%;">
              <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div   class="card-body">
                <h5  class="card-title" ><a (click)="redirectToProducto(pc.idProducto)" style="cursor: pointer;">{{pc.nombreProducto}}</a></h5>
                <div *ngFor="let ppc of precioProductosCliente;">
                  <p *ngIf="ppc.idProducto == pc.idProducto" class="card-text">${{ppc.precio}}</p>
                </div>
                
              </div>
            </div>
            <div class="col-md-4 cant">
              <div *ngFor="let dpc of detalleProductosCliente; ">
                <div *ngIf="dpc.idProducto == pc.idProducto">
                  <div *ngIf="dpc.cantidad == 1; else elseBlock">
                    <p >Cantidad: <strong>{{dpc.cantidad}}</strong> Unidad </p>
                  </div>
                  <ng-template #elseBlock>
                    <p >Cantidad: <strong>{{dpc.cantidad}}</strong> Unidades </p>
                  </ng-template>
                  <div *ngFor="let ppc of precioProductosCliente;">
                    <div class="lblSubTotal" *ngIf="ppc.idProducto == pc.idProducto">
                      <p>Sub-Total: ${{ppc.precio * dpc.cantidad}}</p>
                    </div>
                    
                  </div>
                  
                </div>
                  
              </div>
             
          </div>

          </div>
      </div>

      </div>
    </div>
    <div class="lblTotal">
      <p [(ngModel)]="total">Total: $<strong>{{total}}</strong> </p>
    </div>
    <div class="div-buy">

</div>
    
</div>